@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-size: 1.25rem;
  padding: 20px 25px;
  border: 0;
  cursor: pointer;
}
/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
  margin-bottom: 85px;
}

/* main styles */
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menus {
  display: flex;
  margin-bottom: 116px;
}

.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 102px;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner styles */
.banner-context {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 20px;
}

.banner-description {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
  margin-bottom: 32px;
}

.banner-btn {
  margin-bottom: 50px;
}

.banner-img {
  width: 100%;
}

/* team section styles */
.team-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 169px;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.team-content {
  padding-left: 70px;
  padding-right: 70px;
}

.team-title {
  font-size: 2.8rem;
  margin-bottom: 24px;
}

.team-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 32px;
}

.gray {
  color: #727272;
  font-weight: 500;
}

.black {
  color: #131313;
  font-weight: 700;
}
.orange {
  color: #ff900e;
  font-weight: 700;
}

/* features style */
.features {
  display: flex;
  gap: 100px;
  margin-bottom: 168px;
}

.feature-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24px;
  border-left: 5px solid#FF900E;
  padding-left: 5px;
}

.feature-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.feature-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
}

.fc-title {
  color: #131313;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.fc-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}

.fimg {
  height: 80%;
  margin-left: 50px;
}

.badge {
  width: 342px;
  border-radius: 8px;
  background: #ff900e;
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 100px;

}

.badge-title {
  color: #FFF;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}

.badge-description {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 500;
}

/* facts style */
.facts {
  margin-bottom: 180px;
}
.facts-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.facts-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 100px;
}

.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}

.cards-stats {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
}

.card-title {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}

/* sponsors styles */
.sponsors {
  text-align: center;
}

.sponsor-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.sponsor-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.sponsors-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.sponsors-img-container img {
  width: 165px;
}

/* media query for small devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav,
  .team-container,
  .features,
  .facts-card-container,
  .sponsors-img-container
   {
    flex-direction: column;
  }

  .badge{
    position: static;
    max-width: 300px;
  }

  .fimg{
    width: 80%;
    margin-left: 0;
  }
  .team-img {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.team-content,
.facts-card-container {
  padding-left: 20px;
  padding-right: 20px;
}

/* for medium devices */

@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 50px;
  }

  nav,
  .team-container,
  .features,
  .sponsors-img-container {
    flex-direction: column;
  }

  .facts-card-container {
    gap: 10px;
  }
}
